<%= form_for @user_session do |f| %>
  <p>
    <%= f.label :login %>
    <%= f.text_field :login %>
  </p>
  
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  
  <p>
    <%= f.submit "Login" %>
  </p>
<% end %>